// author: Bryan Johnson
class IfTest {
  run {
    if(true) {
      println("hello from IfTest");
    }

    if(false) {
      println("IfTest failed, this statement was under if(false) and should not have been printed");
    }

    boolean b : true;
    if(true) {
      println("boolean b was true");
    }
  }
}