// author: Bryan Johnson
type AndTest {

  main {
    if true  & true  { assert true; }
    if true  & false { assert false; }
    if false & true  { assert false; }
    if false & false { assert false; }
  }
}
