// author: Bryan Johnson
class AndTest {
  const ASSERTION_PASS : "hello from AndTest";

  run {
    if(true & true)
      assert true;

    if(true & false)
      assert false;

    if(false & true)
      assert false;

    if(false & false)
      assert false;
  }
}