// author: Bryan Johnson
class AndTest {
  const GOOD : "hello from AndTest";
  const FAIL : "This message was shown in error";

  run {
    if(true & true)
      println(GOOD);
    else
      println(FAIL);

    if(true & false)
      println(FAIL);
    else
      println(GOOD);

    if(false & true)
      println(FAIL);
    else
      println(GOOD);

    if(false & false)
      println(FAIL);
    else
      println(GOOD);
  }
}