// author: Bryan Johnson
class SingleStatement {
  const GOOD : "hello from SingleStatement";
  const BAD : "This is message was shown in error";

  run {
    if(true)
      println(GOOD);
    else
      println(BAD);

    if(false)
      println(BAD);
    else
      println(GOOD);

    if(true)
      println(GOOD);
    if(false)
      println(BAD);
  }
}